:root {
  /* breaking widths */
  --width-1: 900px
  /* fonts */
  --regular: Verdana, Geneva, Tahoma, sans-serif;
  --roboto: "Roboto", sans-serif;
  --font: var(--roboto);
  letter-spacing: 1px;
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
    :root {
  /* light-color */
  --background: #FFF;
  --text: #222222;
  --border: #7e7e7e;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
  /* dark-color */
  --background: #0a0a0a;
  --text: #FFF;
  --border: #c2c2c2;
    }
}


html {
  background: var(--background);
  color: var(--text);
  font-family: var(--font);
}

#greet-holder {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

#greet {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width:fit-content;
  /* margin: 1rem; */
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
}

@media screen and (max-width: 900px) {
  #greet {
    display: flex;
    flex-direction: column;
  }
}

.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  border-radius: 0.5rem;
  border: 1px solid var(--background);
  flex-shrink: 0;
  max-width: 15rem;
  max-height: 15rem;
}

#about-me-holder {
  display: flex;
  justify-content: center;
}

#about-me {
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

footer {
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

footer * {
    width: fit-content;
}

#footer-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    
footer a {
    color: var(--text);
}
